* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(119, 0, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-content {
  max-width: 600px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.main-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  max-width: 1200px;
  padding: 30px;
  border-radius: 25px;
  gap: 100px;
  margin-top: 120px;
}

.title-h1 {
  font-size: 60px;
  font-family: "Roboto";
  color: hsl(234, 29%, 20%);
  font-weight: 700;
  margin: 20px 0;
}

.title-h2 {
  font-family: "Roboto";
  font-weight: 400;
  color: hsl(235, 18%, 26%);
  margin: 10px 0;
  font-size: 16px;
}

.checked-box {
  display: flex;
  flex-direction: column;

}

.checked-icon {
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 10px 0px;
}

.text-p {
  font-family: "Roboto";
  font-weight: 400;
  color: hsl(235, 18%, 26%);
  font-size: 16px;
}

.input-email {
  margin-top: 30px;
  display: grid;
}

.input {
  padding: 15px;
  max-width: 100%;
  margin: 10px 0;
  border: 1px solid gainsboro;
  border-radius: 7px;
  font-size: 16px;
  
}

.button-box {
  display: flex;
  flex: 1;
  justify-content: center;
  width: 370px;
}

.button {
  background-color: hsl(234, 29%, 20%);
  color: white;
  border: none;
  padding: 15px;
  font-family: "Roboto";
  font-weight: 700;
  margin: 20px 0;
  width: 370px;
  border-radius: 10px;
}

.button:disabled,
.button[disabled]{
  opacity: 0.5;
}

.aside {
  padding: 25px;
  display: none;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  border-radius: 15px;
  background-color: white;
  max-width: 400px;
  position: absolute;
}

.aside-icon {
  display: flex;
  justify-content: left;
}

.active {
  display: flex;
}